<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <title>{% block title %}Fables{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <nav>
      <div>
        <h1><a href="{% url 'home' %}">Fables</a></h1>

        <!-- Navigation links -->
        <div>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'campaigns' %}">Campaigns</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <div>
        <p>
          &copy; 2025 Fables | All Rights Reserved | Designed by
          <a target="_blank" href="https://github.com/Turizak">Turizak</a>
        </p>
      </div>
    </footer>

    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
